# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
passwordless-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/static/uploads/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# Not everyone uses vscode
.vscode

.elixir_ls

# Env vars used by direnv
.envrc
.env

# Sobelow
.sobelow

# Wallaby screenshots
/screenshots

# OpenAPI spec
openapi.json

*.coverdata

.DS_Store

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.dev.vars
.*.vars
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Wrangler
.wrangler

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

docs/public/r/*

*.tsbuildinfo
coverage.json

target/

*.log

_pagefind/
out/