<.layout current_user={@current_user} current_page={:dev_sent_emails} current_section={:dev}>
  <div>
    <.alert
      color="info"
      with_icon
      label={gettext("To see emails here, you must peform an action e.g change email")}
    />
    <iframe class="w-full h-screen px-12 pt-10 overflow-auto bg-white" src="/dev/mailbox">
    </iframe>
  </div>
</.layout>
