<.auth_layout_wide title={gettext("Link not found")}>
  <:logo>
    <.logo class="h-6" />
  </:logo>

  <:top_links>
    {gettext(
      "Link is invalid or has expired. If you are trying to unsubscribe from unwanted emails, please look for a more recent message."
    )}
  </:top_links>

  <div class="flex">
    <.button size="xl" link_type="a" title={gettext("Go Home")} to={~p"/"} class="flex flex-1" />
  </div>
</.auth_layout_wide>
