<div class="flex flex-col gap-6">
  <.box card>
    <.form_header title={gettext("Components")} no_margin />
    <.p>
      Passwordless provides a set of Web components to help you build your authentication flows. You can use them to create login forms, OTP input fields, and more. The components are designed to be easy to use and customizable.
    </.p>
    <.alert color="info" with_icon>
      Web Components are coming soon.
    </.alert>
  </.box>
</div>
