<div class="p-6 flex flex-col gap-6">
  <.form_header title={gettext("UI Components")} no_margin />
  <.p>
    Passwordless provides a set of UI components to help you build your authentication flows. You can use them to create login forms, OTP input fields, and more. The components are designed to be easy to use and customizable.
  </.p>
  <.alert color="info" with_icon>
    UI Components are coming soon.
  </.alert>
</div>
