<.layout current_user={@current_user} current_page={:methods} current_section={:app}>
  <.page_header title={gettext("Methods")}></.page_header>

  <div class="flex flex-col gap-6">
    <div class="flex">
      <.tab_menu menu_items={method_menu_items()} current_tab={@live_action} variant="buttons" />
    </div>
    <.box>
      <.live_component id={@live_action} app={@current_app} module={@module} />
    </.box>
  </div>
</.layout>
