<.layout current_user={@current_user} current_page={:methods} current_section={:app}>
  <.tabbed_layout current_page={@live_action} menu_items={method_menu_items()}>
    <.page_header title={@page_title} />
    <.box>
      <.live_component id={@live_action} app={@current_app} module={@module} />
    </.box>
  </.tabbed_layout>
</.layout>
