<div id="block-container" phx-hook="EditorHook">
  <.form
    id="edit-template-version"
    for={@version_form}
    phx-change="validate_version"
    phx-submit="save_version"
  >
    <.field type="hidden" field={@version_form[:mjml_body]} class="source" />
  </.form>
  <div id="mjml-editor-container" class="editor" phx-update="ignore"></div>
</div>
