<main>
  <LiveToast.toast_group
    flash={@flash}
    corner={:bottom_right}
    connected={assigns[:socket] != nil}
    toasts_sync={assigns[:toasts_sync]}
  />
  <.layout current_user={@current_user} current_page={@current_url} current_section={:admin}>
    <div class="px-6 xl:px-8 py-6">
      {@inner_content}
    </div>
  </.layout>
</main>
