<main>
  <LiveToast.toast_group
    flash={@flash}
    corner={:bottom_right}
    connected={assigns[:socket] != nil}
    toasts_sync={assigns[:toasts_sync]}
  />
  <.sentry_user_setter current_user={@current_user} />
  {@inner_content}
</main>
