<%!-- This should match max_width in `landing_page.html.heex`. Options: ["sm", "md", "lg", "xl", "full"] --%>
<% max_width = "xl" %>

<main>
  {@inner_content}
</main>

<PasswordlessWeb.CoreComponents.footer max_width={max_width} />
