<%!-- This should match max_width in `landing_page.html.heex`. Options: ["sm", "md", "lg", "xl", "full"] --%>
<% max_width = "xl" %>

<main class="h-screen bg-slate-100 dark:bg-slate-900">
  {@inner_content}
</main>
