<%!-- This should match max_width in `landing_page.html.heex`. Options: ["sm", "md", "lg", "xl", "full"] --%>
<% max_width = "xl" %>

<main>
  <LiveToast.toast_group
    flash={@flash}
    corner={:bottom_right}
    connected={assigns[:socket] != nil}
    toasts_sync={assigns[:toasts_sync]}
  />
  {@inner_content}
</main>

<PasswordlessWeb.CoreComponents.footer max_width={max_width} />
