<%!-- This should match max_width in `public.html.heex`. Options: ["sm", "md", "lg", "xl", "full"] --%>
<.container class="py-10 lg:py-16">
  <.badge size="sm" label="Resources" class="mb-2" />
  <.h2 no_margin>{gettext("Security")}</.h2>
</.container>
