<%!-- This should match max_width in `public.html.heex`. Options: ["sm", "md", "lg", "xl", "full"] --%>
<% max_width = "xl" %>
<.hero_header
  badge={gettext("Resources")}
  title={gettext("Terms of Service")}
  subtitle={gettext("Last Modified: 15 January 2025")}
/>
<.area pad_top={false} container={true}></.area>
