name: Release
on:
  push:
    branches:
      - main
      - dev

env:
  MIX_ENV: prod
  DEPLOYMENT_ENV: ${{ vars.DEPLOYMENT_ENV }}
  OBAN_PRO_AUTH_KEY: ${{ secrets.OBAN_PRO_AUTH_KEY }}

permissions:
  contents: read

jobs:
  release:
    name: Release
    concurrency:
      group: ${{ github.workflow }}-${{ vars.DEPLOYMENT_ENV }}
      cancel-in-progress: false
    runs-on: ubuntu-24-arm64
    environment: ${{ github.ref_name }}
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: latest

      - name: PNPM install
        run: pnpm install

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          use: true

      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.AWS_DEPLOYER_ROLE }}
          role-duration-seconds: 14400 # 60 * 60 * 4

      - name: Deploy CDK
        env:
          AWS_DEFAULT_REGION: eu-west-1
        run: pnpm --prefix cdk exec cdk deploy --require-approval=never --all
